body{
    overflow-x: hidden;
}





/* famous places */

.famous-places{
    background:linear-gradient(rgb(250,250,250,0.8),rgb(250,250,250,0.9)),url('Images/fb4.jfif') no-repeat center center /cover;
}

/* fa,ous places over */
/* gallery part*/
.galeery-img{
    backface-visibility: hidden;
    transition: all .5s;

}
.galeery-img:hover{
    transform: scale(1.05);

}

.first-row{
    transform: translateX(-300px);
    opacity: 0;
    transition: all 2.5s;
}

.second-row{
    transform: translateX(300px);
    opacity: 0;
    transition: all 2.5s;
}


.change .first-row, .change .second-row{
    transform: translateX(0);
    opacity: 1;
}

/* gallery part end */
/* --------------------------------------------------------------------- */
/* title */
.style-title{
    display: inline-block;
font-size: 3rem;
font-weight: 500;
text-shadow: 2px 2px 5px #aaa;
transition: all .5s;
}

.style-title:first-letter{
    font-family: 'Great Vibes',cursive;
    font-size: 5rem;
    margin-right: 10px;
    font-style: normal;
    }

.style-title:hover{
        transform: translate(-5px,-3px);
        text-shadow: 2px 4px 21px #aaa;
        }
/* title over */
/* --------------------------------------------------------------------- */

/* header part */
header{
    height: 100vh;
    background:linear-gradient(rgb(0,0,0,5.4),rgb(0,0,0,0.6)),url('Images/background.jpg') no-repeat center center /cover;
    clip-path:polygon(0 0,100% 0,100% 90%,0 100%)

}

.head1{
    font-family: 'Great Vibes', cursive;
}

.banner-heading:first-lettre{
    font-family: 'Great Vibes', cursive;
    font-size:10rem;
    margin-right:20px;
}


.banner-heading img{
 animation: animation1 2s infinite;
}



@keyframes animation1{

    0%{
        transform:scale(1);
    }
    40%{
        transform:scale(1.1);
    }
    60%{
        transform:scale(1.02);
    }
    80%{
        transform:scale(1.1);
    }
    100%{
        transform:scale(1);
    }
}

/* header part over */